*{
    
}
body{
    background-color: white;
    font-family: Arial, sans-serif;
}
.log{
    color: brown;
    font-size: 30px;
}
header{
    background-color: blue;
    min: height 100px;
    padding:4opx;
}
header a{
    font-size: medium;
    color: antiquewhite;
    text-transform:uppercase;
    text-decoration: none;
    display flex;
}
header li;
display:flex;
float :left;
padding:20px;
text decoration:none;
color::content;
header a:hover{
    color: brown;
    font-weight: bold; 
}
nav{
    display: flex;
    background-color: rgb(104, 111, 207);
    position: static;
}
h3{
    font-size: 36px;
    color: red;
    padding: 10px;
}
span{
    color: green;
    font-size: 62px;
}
h4{
    text-align: center;
}
ul a {
    margin-top: 40px;
    color: white;
    padding: 10px;
}
.p{
    align-items: center;
    margin-left: 20px;
}
footer{
    background-color: rgb(77, 69, 69);
    color: white;
}